*{
    /* changing font */
    font-family: 'Mulish', sans-serif;
}

/*header formatting */
header, .footer {
    background-color:#045387;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* styling to make subheadings diff color */
.colored_subheadings {
    color:#045387;
}

#faapLogo {
    max-width:40%;
    padding-top:3%;
    padding-bottom:3%;
}

#searchButton {
    min-width:15px;
    max-width:15px;

}

#search {
    max-width:10%;
    min-width:10%;
}

.navbar, .dropdown-menu {
    background-color: #99C7E0;
}

/* about us page setting */
.aboutus-container-l {
    margin-right:10px;
    padding:10px;
}

.aboutus-container-r {
    padding:10px;
}

.core-value {
    background-color:#99C7E0 !important;
    margin-bottom:20px;
    margin-right:10px;
    font-size:20px !important;
    font-weight:bold !important;
}

#core-value {
    max-width: 80%;
    display:block;
    margin:auto;
}

video {
    max-width: 100%;
    height: auto;
  }

.board-of-directors {
    color:#045387;
    font-weight:bold;
    margin-top:10px;
}

.headshots {
    margin:10px;
}

.contact {
    padding:30px;
}

/*footer formatting*/
h5 {
    color:#F8E388;}
    /*removing default black bullet and adding white bullet */
    .footer ul {list-style:none;}
    .footer li::before {
    content:"•";
    color: white;
    display:inline-block;
    width:1em;
    margin-left: -1em;
}

#donateBtn {
    display:block;
    margin-left:auto;
    margin-right:auto;
    min-width:90%;
    min-height:50%;
    padding:2%;
    background-color:#F8E388;
    border:1px solid grey;
}

/* styling education page */
#scholarship_2, #scholarship_3{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#learnMore {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    padding:2%;
    background-color:#F8E388;
    border:1px solid grey;
}

/* change styling when hovering over button */
#donateBtn:hover, #learnMore:hover {
    cursor: pointer;
    background-color: #fdcb36;
}

.wrapSupport {
    border:1px solid black;
    background-color:white;
    border-radius:10px;
}

.mobileShow {
    display:none;
}

img {
    max-width:100%;
}

h4 {
    color:#045387;
}

#nav2 {
    display:none;
}


@media screen and (max-width: 768px) {
    /*header formatting*/
    #faapLogo {
        max-width: 80%;
    }
    #faapHeading {
        font-size:1.3em;
    }
    /* smaller font for core value buttons on mobile */
    .core-value {
        font-size:12px !important;
    }

    /* remove about us container margin in smaller screen, add bottom margin instead */
    .aboutus-container-l {
        margin-right:0px;
        margin-bottom:10px;
    }

    /* adding bottom margin for contact card in smaller screens */
    .contact {
        margin-bottom:10px;
    }
}

@media screen and (max-width: 576px) {
    /*header formatting*/
    #faapHeading {
        display:none;
    }

    #faapLogo {
        max-width:20%;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        text-align: center;
    }

    .form {
        max-width:50%;
    }

    .mobileHide {
        display:none;
    }

    .mobileShow {
        display:block;
    }

    /* smaller font for core value buttons on mobile */
    .core-value {
        font-size:12px !important;
    }

    /* remove about us container margin in smaller screen, add bottom margin instead */
    .aboutus-container-l {
        margin-right:0px;
        margin-bottom:10px;
    }

    /* adding bottom margin for contact card in smaller screens */
    .contact {
        margin-bottom:10px;
    }

    /* in mobile the original nav bar will no longer be displayed */
    #nav1 {
        display:none;
    }

    /* instead, we'll have the nav bar for culture page displayed */
    #nav2 {
        display:flex;
    }

}